h1 {
    background-color: aqua;
    padding: 20px;
}

span {
    color: white;
    padding: 5px 15px;
}

.completed{
    background-color: greenyellow;
}


.backlog {
    background-color: red;
}

.in_progress {
    background-color: orange;
}